{% extends "_base.html" %}
{% from "_grid.html" import row, column %}
{% from "_panel.html" import panel %}

{% block subtitle %}Dashboard{% endblock %}

{% block content %}
  {% call row() %}
    {% call panel() %}
      <table class="table">
        <thead>
          <tr>
            <th>Queue</th>
            <th>Total Ready (hlen ".msgs")</th>
            <th>Total Delayed (hlen ".DQ.msgs")</th>
            <th>Total Failed (hlen ".XQ.msgs") </th>
            <th>Unfetched Ready (llen ".")</th>
            <th>Unfetched Delayed (llen ".DQ")</th>
            <th>Unfetched Failed (zcard ".XQ") </th>
          </tr>
        </thead>
        <tbody>
          {% for queue in queues %}
            <tr>
              <td class="table__subject">
                <a href="{{ make_uri('queues', queue.name) }}">
                  {{ queue.name }}
                </a>
              </td>
              <td class="table__number table__number--primary">
                {{ queue.total_ready|short }}
              </td>
              <td class="table__number table__number--secondary">
                {{ queue.total_delayed|short }}
              </td>
              <td class="table__number table__number--tertiary">
                {{ queue.total_failed|short }}
              </td>
              <td class="table__number table__number--primary">
                {{ queue.ready_unfetched|short }}
              </td>
              <td class="table__number table__number--secondary">
                {{ queue.delayed_unfetched|short }}
              </td>
              <td class="table__number table__number--tertiary">
                {{ queue.failed_unfetched|short }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endcall %}
    {% endcall %}

  {% call row() %}
    {% call panel() %}
      <table class="table">
        <thead>
          <tr>
            <th>Worker</th>
            <th>Queue</th>
            <th>Jobs</th>
            <th>Last Seen</th>
          </tr>
        </thead>
        <tbody>
          {% for worker in workers %}
            <tr>
              <td class="table__subject table__subject--mono">
                {{ worker.name }}
              </td>
              <td class="table__number table__subject--mono">
                {{ worker.queue }}
              </td>
              <td class="table__number table__number--primary">
                {{ worker.jobs_in_flight|short }}
              </td>
              <td>
                <time datetime="{{ worker.last_seen|isoformat }}">
                  {{ worker.last_seen|timeago }}
                </time>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endcall %}
    {% endcall %}
{% endblock %}
